@charset "UTF-8";

/*--------------------------------------------------------------
    TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
        -Universal
4.0 - Elements: styling for bare/generic HTML elements 
        - Typography: Headings, Paragraphs, Blockquotes, Anchors

5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
        - Col-Sm
        - Col-Md
        - Col-Lg

6.0 - Components: specific designed components
        - Images
        - Navigation 
        - Form
        - Footer
        - Col-Sm
        - Col-Md
        - Col-Lg

 7.0 - Utilities:
        - Screen Reader   
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    3.0 - GENERIC
-------------------------------------------------------------- */

/* ----- UNIVERSAL ----- */
*, 
*:after,
 *:before {
        -o-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
}

html {
        font-size: 15px;
        text-align: center;
}
/*--------------------------------------------------------------
    4.0 - ELEMENTS
-------------------------------------------------------------- */

/* ----- TYPOGRAPHY ----- */

div > i {
        color: #fff;
        padding: 0px 0px 0px 30px;
        font-size: 1.5rem;
}
h1,
span {
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
}
h2 {
        font: 2rem 'Lexend', sans-serif;
}
h3 {
        font: 1.7rem 'Lato', sans-serif;
}
span {
        display: block;
}
header > div > p:first-of-type {
        text-align: center;
        font-family: 'Lexend', sans-serif;
}
header > div > p:last-of-type {
        padding-top: 50px;
}
a {
        text-decoration: none;
}
p > a {
        font-family: 'Inter', sans-serif; 
        background-color: #FECA5C;
        padding: 15px 15px;
        border-radius: 20px;
        color: #fff;
}
blockquote {
        font-style: italic;
}
/*--------------------------------------------------------------
    5.0 - OBJECTS
-------------------------------------------------------------- */

/* ----- FRAMEWORK ----- */

.wrapper {
        width: 95%;
        margin: 0 auto;
}
.row {
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
}
.img-responsive {
        max-width: 100%;
}
/* [class*='col-'] div {
        background-color: #D9D9D9;
        height: 100%;
        padding: 5px;
} */
[class*='col-'] {
        padding: 5px;
}

/* ----- C0L-SM----- */

.col-sm-1 {
        width: calc(100% * 1 / 12);
}
.col-sm-2 {
        width: calc(100% * 2 / 12);
}
.col-sm-3 {
        width: calc(100% * 3 / 12);
}
.col-sm-4 {
        width: calc(100% * 4 / 12);
}
.col-sm-5 {
        width: calc(100% * 5 / 12);
}
.col-sm-6 {
        width: calc(100% * 6 / 12);
}
.col-sm-7 {
        width: calc(100% * 7 / 12);
}
.col-sm-8 {
        width: calc(100% * 8 / 12);
}
.col-sm-9 {
        width: calc(100% * 9 / 12);
}
.col-sm-10 {
        width: calc(100% * 10 / 12);
}
.col-sm-11 {
        width: calc(100% * 11 / 12);
}
.col-sm-12 {
        width: calc(100% * 12 / 12);
}

/* ----- C0L-MD----- */

@media screen and (min-width: 768px) {
        .wrapper {
                width: 80%;
        }
        [class*='col-'] {
                padding: 8px;
        }
        .col-md-1 {
                width: calc(100% * 1 / 12);
        }
        .col-md-2 {
                width: calc(100% * 2 / 12);
        }
        .col-md-3 {
                width: calc(100% * 3 / 12);
        }
        .col-md-4 {
                width: calc(100% * 4 / 12);
        }
        .col-md-5 {
                width: calc(100% * 5/ 12);
        }
        .col-md-6 {
                width: calc(100% * 6 / 12);
        }
        .col-md-7 {
                width: calc(100% * 7 / 12);
        }
        .col-md-8 {
                width: calc(100% * 8 / 12);
        }
        .col-md-9 {
                width: calc(100% * 9 / 12);
        }
        .col-md-10 {
                width: calc(100% * 10 / 12);
        }
        .col-md-11 {
                width: calc(100% * 11 / 12);
        }
        .col-md-12 {
                width: calc(100% * 12 / 12);
        }
}

/* ----- C0L-LG----- */

@media screen and (min-width: 1024px) {
        .wrapper {
                width: 70%;
        }
        [class*='col-'] {
                padding: 10px;
        }
        .col-lg-1 {
                width: calc(100% * 1 / 12);
        }
        .col-lg-2 {
                width: calc(100% * 2 / 12);
        }
        .col-lg-3 {
                width: calc(100% * 3 / 12);
        }
        .col-lg-4 {
                width: calc(100% * 4 / 12);
        }
        .col-lg-5 {
                width: calc(100% * 5 / 12);
        }
        .col-lg-6 {
                width: calc(100% * 6 / 12);
        }
        .col-lg-7 {
                width: calc(100% * 7 / 12);
        }
        .col-lg-8 {
                width: calc(100% * 8 / 12);
        }
        .col-lg-9 {
                width: calc(100% * 9 / 12);
        }
        .col-lg-10 {
                width: calc(100% * 10 / 12);
        }
        .col-lg-11 {
                width: calc(100% * 11 / 12);
        }
        .col-lg-12 {
                width: calc(100% * 12 / 12);
        }
}

/*--------------------------------------------------------------
    6.0 - COMPONENTS
-------------------------------------------------------------- */
/* ----- IMAGES ----- */
body > header,
footer {
        background: url(../img/splatter-bg.jpg) no-repeat;
        background-size: cover;
        padding-bottom: 30px;
}

#smilely-money {
        background: url(../img/smileymoney.jpg) no-repeat;
        padding: 120px 0px;
        margin-left: 70px;
}
#outdoor-hoodie {
        background: url(../img/hoodie-outdoor.jpg) no-repeat;
        padding: 120px 0px;
        margin-left: 70px;
}
#iphone {
        background: url(../img/iphone.jpg) no-repeat;
        padding: 120px 0px;
        margin-left: 70px;
}
#hoodie {
        background: url(../img/hoodie.jpg) no-repeat;
        padding: 200px 0px;
        text-align: left;
}
#products {
        background: url(../img/products.jpg) no-repeat;
        padding: 200px 0px;
        text-align: right;
}
#disco-dottie {
        background: url(../img/disco-dottie.jpg) no-repeat ;
        background-size: cover;
}
#tobia {
        background: url(../img/tobiafonseca.jpg) no-repeat ;
        background-size: cover;
}
#super-doodle {
        background: url(../img/super-doodledo.jpg) no-repeat ;
        background-size: cover;
}
#adena {
        background: url(../img/adena-j.jpg) no-repeat ;
        background-size: cover;
}
#grundy {
        background: url(../img/jo-grundy.jpg) no-repeat ;
        background-size: cover;
}
/* ----- NAVIGATION ----- */
nav {
        text-align: center;
}

nav ul {
        list-style-type: none;
        padding: 0px;
}
nav li {
        display: inline-block;
        margin: 0px 0px 0px 20px;
}
nav li > a {
        color: #fff;
}
nav li > a:hover {
        border-bottom: 1px solid #fff;
}
/* ----- FORM ----- */

form {
        position: relative;
}
form > i {
        position:absolute;
        left: 120px;
        top: 0px;
        padding: 13px 79px;
        color: #000;
}
input  {
        background-color: white;
        border: 1px solid #000;
        border-radius: 30px;
        margin-left: 70px;
        padding: 5px;
}
/* ----- FOOTER ----- */
footer img,
footer ul {
        text-align: left;
        list-style-type: none;
        padding: 0px;
        margin-top: 40px;
}
footer ul > li {
        font-size: 1rem;
}
footer ul:last-of-type > li:nth-child(5),
footer ul:last-of-type > li:nth-child(6),
footer ul:last-of-type > li:nth-child(7),
footer ul:last-of-type > li:nth-child(8) {
        display: inline-block;
}
/* ----- COL-SM ----- */
#hoodie h2,
#products h2 {
        color: #fff;
}
#hoodie > header,
#hoodie > p {
        padding-left: 30px;
}
#products > header,
#products > p {
        padding-right: 30px;
}
#disco-dottie > p,
#tobia > p,
#super-doodle > p,
#adena > p,
#grundy > p {
        font: 2rem 'Lexend', sans-serif;
        color: #fdc75e;
}
blockquote > footer {
        background: none;
}
/* ----- COL-MD ----- */

/* ----- COL-LG ----- */
/*--------------------------------------------------------------
    7.0 - UTILITY
-------------------------------------------------------------- */

/* ----- ALIGNMENT ----- */

.col-center{
        justify-content: center;
}

/* ----- SCREEN READER ----- */